 body {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 16px;
  background: #eee;
  color: #444;
}
img{
     width: 200px;
     height: 200px;
     display: block;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

 .box {
  font-size: 32px;
  color: #fff;
  width: 200px;
  height: 200px;
  border: 5px solid white;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #bbb 0px 2px 4px;
 }

.box:hover {
  background: #fff;
  color: #000;
  transform: scale(1.1)
/*   transition: background 1.0s linear 0.0s, 
              color 1.0s linear 0.0s; */
}

.Marquez {
  background: #1476B6;
/*   transition-duration: 0.25s; */
}

.Dostoyevsky {
  background: #FF7F00;
}

.Keuorac {
  background: #24A122;
/*   transition-duration: 2.0s; */
}

.Rilke {
  background: #24A122;
/*   transition-duration: 2.0s; */
}

.Vonnegut {
  background: #24A122;
/*   transition-duration: 2.0s; */
}
